<div class="2xl:container 2xl:mx-auto">
	<div class="py-6 lg:px-20 md:px-6 px-4">
		{% include 'components/pageHeader.html.twig' with {title: "Spells Index", countProduct: 0, currentPath: "Home > Spells"} %}
		<ul class="md:flex-row md:flex hidden w-100 justify-between mx-8 text-center">
			{% for i in range('A','Z') %}
				<li class="{% if loop.index0 != 0 %}border-l-4 border-black{% endif %} text-center px-4">
					<a href="{{ path('search', {'category': app.request.get('category'), "start_with" : i}) }}">{{ i }}</a>
				</li>
			{% endfor %}
		</ul>
		<select name=""
		        class="md:hidden"
		        id=""></select>
	</div>
</div>
<div id="bestiarySpells" class="flex flex-col w-full xl:flex-row justify-center">
	<!-- Cards Start -->
	<div class="flex flex-col justify-start">
		<div class="container mx-auto px-6 py-10">
			<div class="xl:flex lg:flex md:flex xl:w-full md:justify-center w-11/12 mx-auto lg:justify-center xl:justify-between flex-wrap justify-between lg:items-center xl:flex-row xl:justify-between">
				{% for row in rows.items %}
					<div class="xl:w-3/12 lg:w-4/12 md:w-6/12 mb-4 xl:px-2">
						<div class="bg-white dark:bg-gray-800 shadow xl:flex lg:flex md:flex p-5 rounded">
							<div class="md:w-4/6 mb-4 xl:mb-0 lg:mb-0 md:mb-0">
								<a tabindex="0"
								   class="focus:outline-none text-gray-800 dark:text-gray-100">
									<p class="text-lg  mb-3 font-normal">
										<u>{{ row.name }}</u>
									</p>
								</a>
								<p tabindex="0"
								   class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 font-normal">
									{% for spell in row.spells %}
										<a class="text-blue-500 underline background-transparent font-bold text-xs outline-none focus:outline-none ease-linear transition-all duration-150"
										   href="{{ path('spell_show', {'id' : spell.id}) }}">
											{{ spell.name }}
										</a>{% if not loop.last %},{% endif %}
									{% endfor %}
								</p>
							</div>
							<div class="xl:w-3/6 lg:w-3/6 md:w-3/6 flex justify-end flex-col xl:items-end lg:items-end md:items-end items-start">
								<div tabindex="0"
								     aria-label="blue background badge"
								     class="focus:outline-none bg-blue-700 h-6 px-2 mb-4 md:mb-0 rounded-md flex items-center justify-center">
									<span class="text-xs text-white font-normal">{{ row.type.value ?? "N/C" }}</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{{ include('components/pagination.html.twig', {"pagination" : rows}) }}
	</div>
</div>
