{% extends 'base.html.twig' %}

{% block title %}Advanced Research{% endblock %}

{% block body %}
	{% include 'components/pageHeader.html.twig' with {title: "Advance Research", countProduct: 0, currentPath: "Home > Advance Research"} %}
	<div id="search-content" class="bg-gray-50 dark:bg-gray-800 py-8">
		<div class="mx-auto container flex justify-center flex-col w-9/12 md:w-auto">
			<p class="text-3xl lg:text-4xl w-72 md:w-auto mb-16 text-center font-semibold leading-8 lg:leading-9 tracking-tight text-gray-800 dark:text-white pt-14">
				Search
				by
				category</p>
			<div class="w-full flex flex-row items-center">
				<div class="w-1/2 sm:px-0 px-4 md:py-14 py-8 flex items-center justify-between md:justify-center">
					<a href="{{ path('search', {'category' : 'classesSpells'}) }}"
					   class="focus:outline-none text-xl md:text-2xl font-medium leading-5 lg:leading-6 cursor-pointer hover:underline focus:underline text-gray-800 dark:text-white">
						Classes
						->
						Spells</a>
				</div>
				<div class="w-1/2 sm:px-0 px-4 md:py-14 py-8 flex items-center justify-between md:justify-center">
					<a href="{{ path('search', {'category' : 'spellsClasses'}) }}"
					   class="focus:outline-none text-xl md:text-2xl font-medium leading-5 lg:leading-6 cursor-pointer hover:underline focus:underline text-center text-gray-800 dark:text-white">Spells
						->
						Classes</a>
				</div>
			</div>
			<div class="w-full flex flex-row items-center">
				<div class="w-1/2 sm:px-0 px-4 md:py-14 py-8 flex items-center justify-between md:justify-center">
					<a href="{{ path('search', {'category' : 'spellsBestiary'}) }}"
					   class="focus:outline-none text-xl md:text-2xl font-medium leading-5 lg:leading-6 cursor-pointer hover:underline focus:underline text-gray-800 dark:text-white">Spells
						->
						Bestiary</a>
				</div>
				<div class="w-1/2 sm:px-0 px-4 md:py-14 py-8 flex items-center justify-between md:justify-center">
					<a href="{{ path('search', {'category' : 'bestiarySpells'}) }}"
					   class="focus:outline-none text-xl md:text-2xl font-medium leading-5 lg:leading-6 cursor-pointer hover:underline focus:underline text-center text-gray-800 dark:text-white">Bestiary
						->
						Spells</a>
				</div>
			</div>
			<div class="w-full flex flex-row items-center">
				<div class="w-1/2 sm:px-0 px-4 md:py-14 py-8 flex items-center justify-between md:justify-center">
					<a href="{{ path('search', {'category' : 'full'}) }}"
					   class="focus:outline-none text-xl md:text-2xl font-medium leading-5 lg:leading-6 cursor-pointer hover:underline focus:underline text-gray-800 dark:text-white">Curstom
						Research</a>
				</div>
			</div>
		</div>
	</div>
	
	{% if category %}
		{% if category == "bestiarySpells" %}
			{% include("search/BestiarySpells.html.twig") %}
		{% elseif category == 'spellsBestiary' %}
			{% include("search/spellsBestiary.html.twig") %}
			{% endif %}
		{% if category == "full" %}
			Full
		{% endif %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script>
        const page = "{{ app.request.get('category') }}"
	</script>
	{{ encore_entry_script_tags('search') }}
{% endblock %}
